<footer id="footer">
  <div class="footer-col">
    <div class="collum col-1">
      <h3 class="block-title">Main menu</h3>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Featured", root_path %></li>
        <li><%= link_to "What's New?", root_path %></li>
        <li><%= link_to "Specials", root_path %></li>
        <li><%= link_to "Reviews", root_path %></li>
      </ul>
    </div>
    <div class="collum col-2">
      <h3 class="block-title">Our offer</h3>
      <ul>
        <li><%= link_to "New Products", root_path %></li>
        <li><%= link_to "Top buy Products", root_path %></li>
        <li><%= link_to "Collection", root_path %></li>
        <li><%= link_to "Specials", root_path %></li>
      </ul>
    </div>
    <div class="collum col-3">
      <h3 class="block-title">Your Account</h3>
      <ul>
        <li><%= link_to "Login", root_path %></li>
        <li><%= link_to "Registration", root_path %></li>
        <li><%= link_to "Lost your password?", root_path %></li>
        <li><%= link_to "Shipping & Return", root_path %></li>
      </ul>
    </div>
    <div class="collum col-4">
      <h3 class="block-title">Your Account</h3>
      <p>25CT - 2, Hoang Dao Thuy, Ha Noi, Viet Nam</p>
      <p><b>123 - 456 -789</b></p>
    </div>
  </div>
  <div class="footer-nocol">  
    <div class="main main-footer-nocol">
      <span>Copyright 2013 - All Right Reserved - Design by <a href="http://vinova.sg/">Vinova</a></span>
    </div>
  </div>
</footer>