 <div class="inner">
  <table class="table">
    <% @items.each do |i| -%>
      <tr class="order-products <%= cycle("odd", "even") %>">
        <td>
          <span class="image">
            <%= image_tag i['product']['image'] %>
          </span>
        </td>
        <td>
          <span class="title">
            <%= link_to i['product']['name'], i['product']['link']  %>
          </span>
        </td>
        <td>
          <span class="title">
            <%= i['quantity'] %>
          </span>
        </td>
        <td>
          <span class="title">
            <%= i['product']['price'] %>
          </span>
        </td>
      </tr>  
    <% end %>        
  </table>
</div>    