 <div class="inner">
  <table class="table">
    <tr class="th">
      <th>Images</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total price</th>
      <th></th>
    </tr>
    <% @items.each do |i| -%>
    <tr class="order-products <%= cycle("odd", "even") %>">
      <td>
        <span class="image">
          <%= image_tag i['product']['image'] %>
        </span>
      </td>
      <td>
        <span class="title">
          <%= link_to i['product']['name'], i['product']['link']  %>
        </span>     
      </td>
      </td>
      <td>
        <span class="quantity">
          <%= i['quantity'] %>
        </span>
      </td>
      <td>
        <span class="price">
          <%= i['product']['price'] %>
        </span>
      </td>
      <td>
        <span class="total-price">
          <%= i['product']['price']*i['quantity'] %>
        </span>
      </td>
      <td>
        <button class="remove-item" data-id="<%= i['product']['id'] %>">Remove</button>
      </td>
    </tr>  
    <% end %>        
    <tr>
      <td>Total price all</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="last"><%= @total %></td>
    </tr>
  </table>
</div>    
<script type="text/javascript">
  $('.remove-item').click(function(){
    var id = $(this).data('id');
    var cart = $.parseJSON($.cookie("basket"));
    var abc = $.grep(cart.items, function(e){ return e.product.id != id });
    var items = {
      items: abc
    }
    $.cookie("basket", JSON.stringify(items) ,{path: '/'});
    location.reload();
  })
</script>