<div class="wat-cf">
  <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_product_path(@product), :class => "button" %> 
  <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_product_path(@product), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
</div>
<div class="product" data-product-id=<%= @product.id %> 
                          data-image="<%= @product.product_images.sample.photo.url %>" >

  <div class="zoom-section">
      <div class="zoom-small-image">
        <a href='<%= @product.product_images.first.photo.url %>' class = 'cloud-zoom' id='zoom1' 
            rel="adjustX: 10, adjustY:-4">
          <%= image_tag @product.product_images.first.photo.url %>
        </a>
      </div>
      <div class="zoom-desc">    
        <p>  
        <% @product.product_images.each do |pi| %>                  
          <a href='<%= pi.photo.url %>' class='cloud-zoom-gallery' title='Blue' 
              rel="useZoom: 'zoom1', smallImage: '<%= pi.photo.url %>' ">
            <%= image_tag pi.photo.url, :class =>"zoom-tiny-image" %>
          </a>
        <% end %>
      </p>
      </div>
  </div>   

  
  <div class="field field-title">
    <%= @product.name %>
  </div>
  <div class="field field-price">
    <span class="label-price">Price:</span>
    <span class="value"> <%= @product.price %></span>
  </div>
  <div class="field field-content">
    <span class="value"> <%= @product.description.html_safe %></span>
  </div>
  <div class="add_to_cart">
    <span class="quantity">Quantity</span>
    <select name="quantity_number" class="quantity_number">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <button class="add-to-cart" id="buy_now_btn">buy now</button>
  </div>
</article>

<script type="text/javascript">
  $('.add-to-cart').click(function() {
    var quantity_num = parseInt($('.quantity_number').val());
    var item = {
      product : {
        image: $('.product').data('image'),
        id: $('.product').data('product-id'),
        name: $('.field-title').html(),
        price: parseFloat($('.field-price .value').html()),
        link: ($(location).attr('href'))
      },
      quantity: quantity_num
    }

    if (typeof($.cookie("basket")) === "undefined") {
      // Can đưa sản phẩm vào một mảng là items.
      // Vì nếu không khi có nhiều hơn 1 sản phẩm sẽ không phân biệt được
      var items = {
        items: [item]
      }
      $.cookie("basket", JSON.stringify(items), { path: '/' });

      $(".count").html(quantity_num);
    } else {

      var cart = $.parseJSON($.cookie("basket"));
      // Cần check xem có sản phẩm đó trong cookie order hay chưa bằng cách sử dụng:
      var result = $.grep(cart.items, function(e){ return e.product.id == item.product.id });

      if (result.length == 1) { // Trường hợp đã có sản phẩm đó trong giỏ hàng, ta thực hiện cập nhật sản phẩm
        result[0].quantity = result[0].quantity + item.quantity
        // Sau khi cong luong hang mua thêm thì ta thực hiện update vào cookie order
      } else {
        // Ta có items là một mảng nên chỉ việc push nó vào mảng là được.
        cart.items.push(item);
      }

      var count = parseInt($(".count").html());
      var sum = count + quantity_num;
      $(".count").html(sum +" items");
      
      $.cookie("basket", JSON.stringify(cart) ,{path: '/'});
    }
  });
</script>