<!DOCTYPE html>
<html>
<head>
  <title>Webshop</title>
  <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body
<% if params["controller"] == "pages" && params["action"] == "home" %>
  class="home-page"
<% else %>
  class="<%= params['controller']%> <%= params[:categories] %>"
<% end %>
>
  <div id="page">
    <%= render 'layouts/admin_shared/header' %>
    <div class="flash">
      <% flash.each do |type, message| -%>
        <div class="message <%= type %>">
          <p><%= message %></p>
        </div>
      <% end -%>
    </div>
    <% if params["controller"] == "pages" && params["action"] == "home" %>
      <%= render 'layouts/admin_shared/slide' %>
      <%= render 'layouts/admin_shared/adver' %>
    <% end -%>
    <div id="page-content">
      <div class="main main-content">
        <% if params["controller"] == "pages" && params["action"] == "home" %>
          
        <% else %>
          <%= yield %>
        <% end %>
      </div>  
    </div>
    <%= render 'layouts/admin_shared/footer' %>
  </div>
</body>
</html>
